body {
    max-width: 900px;
    margin: auto !important;
    font-size: 25px;
}

body p {
    font-size: 25px;
}

body p.quote {
    font-size: 25px;
    font-style: italic;
}

body p.fst, body p.endnote {
    font-size: 20px;
}
