body {
    max-width: 900px;
    margin: auto !important;
    font-size: 20px;
}

body p, body p.fst {
    font-size: 20px;
}

body p.quote, blockquote {
    font-size: 20px;
    font-style: italic;
}

body p.endnote {
    font-size: 20px;
}
